body, legend{
  font-size: 16px;
  color: #fff;
  background-color: #488be8;
  font-family: 'Oxygen', sans-serif;
}

input, form > button {
  color: black;
}

/** HEADER **/
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/stem-logo-medium.png') no-repeat;
  width: 100px;
  height: 95px;
  margin: 10px 15px 10px 0;
}

#team-logo-img {
  background: url('../images/adi-white-logo-medium.png') no-repeat;
  width: 200px;
  height: 101px;
  margin: 10px;
}

.navbar-brand h1 { /* name */
  font-family: 'Times', sans-serif;
  color: #3f5269;
  font-size: 3.6em;
  margin-top: 5px;
  margin-bottom: 0;
  /* line-height: 1.0; */
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #3f5269;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3f5269;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #488be8;
}

#contact {
  text-align: left;
}
#contact a {
  color: white;
}

/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/stem-logo-medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  #nav-list a span {
    font-size: 1.2em;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #logo-img {
    background: url('../images/stem-logo-small.png') no-repeat;
    width: 60px;
    height: 58px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
  }
  .navbar-brand h1 {
    font-size: 2.5em;
    line-height: 0.75;
  }
  #nav-list a span {
    font-size: 1.2em;
  }
  /* End Header */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #logo-img {
    background: url('../images/stem-logo-small.png') no-repeat;
    width: 60px;
    height: 48px;
    margin: 5px 5px 5px 20px;
    padding: 15px;
  }
  .navbar-brand h1 {
    font-size: 2.0em;
    line-height: 0.75;
  }

  #collapsable-nav a { /* Collapsed nav */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}
